<div class="padding-global padding-section-small">
          <div class="container-large">
            <div class="account-tabs_wrapper">
              <div id="w-node-_8c77facb-6529-d201-da7d-7f42936b01c2-59092d33" class="account-tabs_left-links">
                <a href="{{ routes.account_url }}" li-object:href="routes.account_url" class="account-tabs_link">Compte</a>
                <a href="{{ routes.account_addresses_url }}" li-object:href="routes.account_addresses_url" id="w-node-_8c77facb-6529-d201-da7d-7f42936b01c5-59092d33" class="account-tabs_link">Adresses</a>
              </div>
              <a li-object:href="routes.account_logout_url" href="{{ routes.account_logout_url }}" class="account-tabs_link">Déconnexion</a>
            </div>
            <div class="spacer-large"></div>
            <div x-data="{modal: 99}" class="addresses_grid">
              {% for address in customer.addresses %}    <div li-for="address in customer.addresses" id="w-node-_1d3da037-2526-6202-95ee-691120d77755-59092d33" class="addresses_wrapper outline-solid-1">
                                    
                
                            <div class="addresses_padding is-header">
                  <div class="display-inlineflex display-align-center gap-0-75">
                    <div class="icon-embed-xsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 24 24" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                        <mask id="mask0_7488_3021" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                          <rect width="24" height="24" fill="#D9D9D9"></rect>
                        </mask>
                        <g mask="url(#mask0_7488_3021)">
                          <path d="M7.24944 19.5C6.4866 19.5 5.8376 19.2323 5.30244 18.697C4.7671 18.1618 4.49944 17.5128 4.49944 16.75H2.13419L2.46869 15.25H5.01494C5.24694 14.8692 5.55944 14.5657 5.95244 14.3395C6.34527 14.1132 6.7776 14 7.24944 14C7.72127 14 8.15369 14.1132 8.54669 14.3395C8.93952 14.5657 9.25202 14.8692 9.48419 15.25H13.8802L16.0284 6H5.07844L5.13994 5.7385C5.21427 5.37433 5.3921 5.07692 5.67344 4.84625C5.95494 4.61542 6.28602 4.5 6.66669 4.5H17.9032L17.0359 8.25H19.5379L22.3937 12.0578L21.4609 16.75H19.8839C19.8839 17.5128 19.6164 18.1618 19.0812 18.697C18.5459 19.2323 17.8969 19.5 17.1342 19.5C16.3714 19.5 15.7223 19.2323 15.1869 18.697C14.6518 18.1618 14.3842 17.5128 14.3842 16.75H9.99944C9.99944 17.5128 9.73177 18.1618 9.19644 18.697C8.66127 19.2323 8.01227 19.5 7.24944 19.5ZM15.9052 13.125H20.6437L20.7822 12.4173L18.7879 9.75H16.6917L15.9052 13.125ZM15.8822 6.5885L16.0284 6L13.8802 15.25L14.0264 14.6615L15.8822 6.5885ZM1.08594 13.1615L1.46094 11.6615H6.45144L6.07644 13.1615H1.08594ZM3.08594 9.5885L3.46094 8.0885H9.45144L9.07644 9.5885H3.08594ZM7.24944 18C7.59694 18 7.89211 17.8785 8.13494 17.6355C8.37794 17.3927 8.49944 17.0975 8.49944 16.75C8.49944 16.4025 8.37794 16.1073 8.13494 15.8645C7.89211 15.6215 7.59694 15.5 7.24944 15.5C6.90194 15.5 6.60677 15.6215 6.36394 15.8645C6.12094 16.1073 5.99944 16.4025 5.99944 16.75C5.99944 17.0975 6.12094 17.3927 6.36394 17.6355C6.60677 17.8785 6.90194 18 7.24944 18ZM17.1342 18C17.4815 18 17.7767 17.8785 18.0197 17.6355C18.2627 17.3927 18.3842 17.0975 18.3842 16.75C18.3842 16.4025 18.2627 16.1073 18.0197 15.8645C17.7767 15.6215 17.4815 15.5 17.1342 15.5C16.7867 15.5 16.4914 15.6215 16.2484 15.8645C16.0054 16.1073 15.8839 16.4025 15.8839 16.75C15.8839 17.0975 16.0054 17.3927 16.2484 17.6355C16.4914 17.8785 16.7867 18 17.1342 18Z" fill="#241F18"></path>
                        </g>
                      </svg></div>
                    <div>
                      {% if address == customer.default_address %}    <div li-if="address == customer.default_address" class="text-size-regular text-weight-bold">
    Adresse principale    </div>
{% endif %}
                      {% if address != customer.default_address %}    <div li-if="address != customer.default_address" class="text-size-regular text-weight-bold">
    Autres adresses    </div>
{% endif %}
                    </div>
                  </div>
                </div>
                            
                
                            <div class="addresses_padding">
                  <div li-object="address | format_address" class="text-size-regular">{{ address | format_address }}</div>
                  <div class="addresses_edit">
                    <div x-cloak="" x-show="modal === {{ forloop.index }}" x-transition="" class="addresses_modal">
                      <div x-on:click="modal = 99" class="addresses_modal-close"></div>
                      <div class="addresses_form">
                        <div class="w-form">
                          {% form 'customer_address', address %}
<div class="addresses_form-grid">
                              <h3 id="w-node-_1d3da037-2526-6202-95ee-691120d77767-59092d33" class="heading-style-h3">Edit Address</h3>
                              <div class="form_field-wrapper">
                                <div class="form_field-label">Prénom</div><input class="form_input w-input" li-object:value="form.first_name" maxlength="256" name="address[first_name]" data-name="Address First Name" placeholder="" type="text" id="Address-First-Name" required="" value="{{ form.first_name }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d7776d-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Nom</div><input class="form_input w-input" li-object:value="form.last_name" maxlength="256" name="address[last_name]" data-name="Address Last Name" placeholder="" type="text" id="Address-Last-Name" required="" value="{{ form.last_name }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d77771-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Entreprise</div><input class="form_input w-input" li-object:value="form.company" maxlength="256" name="address[company]" data-name="Address Company" placeholder="" type="text" id="Address-Company" required="" value="{{ form.company }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d77775-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Adresse</div><input class="form_input w-input" li-object:value="form.address1" maxlength="256" name="address[address1]" data-name="Address Address" placeholder="" type="text" id="Address-Address" required="" value="{{ form.address1 }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d77779-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Complément d'adresse</div><input class="form_input w-input" li-object:value="form.address2" maxlength="256" name="address[address2]" data-name="Address Address" placeholder="" type="text" id="Address-Address" required="" value="{{ form.address2 }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d7777d-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Code postal</div><input class="form_input w-input" li-object:value="form.zip" maxlength="256" name="address[zip]" data-name="Address Zip" placeholder="" type="text" id="Address-Zip" required="" value="{{ form.zip }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d77781-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Ville</div><input class="form_input w-input" li-object:value="form.city" maxlength="256" name="address[city]" data-name="Address City" placeholder="" type="text" id="Address-City" required="" value="{{ form.city }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d77785-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Pays</div>
                                <select class="form_input" name="address[country]"> <option value="{{form.country}}">{{form.country}}</option>{{all_country_option_tags}}</select>
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d77789-59092d33" class="form_field-wrapper">
                                <div class="form_field-label">Téléphone</div><input class="form_input w-input" li-object:value="form.phone" maxlength="256" name="address[phone]" data-name="Address Phone 2" placeholder="" type="text" required="" value="{{ form.phone }}">
                              </div>
                              <div id="w-node-_1d3da037-2526-6202-95ee-691120d7778d-59092d33" class="form_checkbox">
                                <div li-object="form.set_as_default_checkbox" id="w-node-_1d3da037-2526-6202-95ee-691120d7778e-59092d33" class="form_checkbox-icon">{{ form.set_as_default_checkbox }}</div>
                                <div>Adresse par défaut</div>
                              </div><input type="submit" data-wait="Please wait..." id="w-node-_1d3da037-2526-6202-95ee-691120d77791-59092d33" class="button w-button" value="Enregistrer">
                              <a aria-controls="modal-{{forloop.index}}" x-on:click="modal = 99" id="w-node-_1d3da037-2526-6202-95ee-691120d77792-59092d33" href="#" class="text-size-regular text-style-link">Cancel</a>
                            </div>
                          {% endform %}
                          <div class="hide w-form-done">
                            <div>Thank you! Your submission has been received!</div>
                          </div>
                          <div class="hide w-form-fail">
                            <div>Oops! Something went wrong while submitting the form.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a id="openModalButton-{{forloop.index}}" x-on:click="modal = {{forloop.index}}" aria-haspopup="dialog" aria-controls="modal-{{forloop.index}}" href="#" class="text-size-regular text-style-link">Modifier</a>
                    <div>
                      <div class="addresses_delete-button hide"></div>
                      <div class="w-embed">
                        <form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}">
                          <input type="hidden" name="_method" value="delete">
                          <a href="#" class="text-size-regular text-style-link" onclick="this.closest('form').submit(); return false;">
                            Supprimer
                          </a>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                            
              
                        </div>
{% endfor %}
              <div id="w-node-_1d3da037-2526-6202-95ee-691120d7779f-59092d33" class="addresses_wrapper is-new outline-solid-1">
                <div class="addresses_padding">
                  <div id="modal-100" x-show="modal === 100" x-transition="" x-cloak="" class="addresses_modal">
                    <div x-on:click="modal = 99" class="addresses_modal-close"></div>
                    <div class="addresses_form">
                      <div class="w-form">
                        {% form 'customer_address', customer.new_address, class: 'addresses_form-wrapper' %}
<div class="addresses_form-grid">
                            <h3 id="w-node-_1d3da037-2526-6202-95ee-691120d777a7-59092d33" class="heading-style-h3">Nouvelle adresse</h3>
                            <div class="form_field-wrapper">
                              <div class="form_field-label">Prénom</div><input class="form_input w-input" maxlength="256" name="address[first_name]" data-name="Address First Name" placeholder="" type="text" id="Address-First-Name" required="">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777ad-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Nom</div><input class="form_input w-input" maxlength="256" name="address[last_name]" data-name="Address Last Name" placeholder="" type="text" id="Address-Last-Name" required="">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777b1-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Entreprise</div><input class="form_input w-input" maxlength="256" name="address[company]" data-name="Address Company" placeholder="" type="text" id="Address-Company">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777b5-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Adresse</div><input class="form_input w-input" maxlength="256" name="address[address1]" data-name="Address Address" placeholder="" type="text" id="Address-Address">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777b9-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Complément d'adresse</div><input class="form_input w-input" maxlength="256" name="address[address2]" data-name="Address Address 2" placeholder="" type="text" id="Address-Address-4">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777bd-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Code postal</div><input class="form_input w-input" maxlength="256" name="address[zip]" data-name="Address Zip" placeholder="" type="text" id="Address-Zip">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777c1-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Ville</div><input class="form_input w-input" maxlength="256" name="address[city]" data-name="Address City" placeholder="" type="text" id="Address-City">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777c5-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Pays</div>
                              <select class="form_input" name="address[country]"> <option value="{{form.country}}">{{form.country}}</option>{{all_country_option_tags}}</select>
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777c9-59092d33" class="form_field-wrapper">
                              <div class="form_field-label">Téléphone</div><input class="form_input w-input" maxlength="256" name="address[phone]" data-name="Address Phone" placeholder="" type="text" id="Address-Phone">
                            </div>
                            <div id="w-node-_1d3da037-2526-6202-95ee-691120d777cd-59092d33" class="form_checkbox">
                              <div li-object="form.set_as_default_checkbox" id="w-node-_1d3da037-2526-6202-95ee-691120d777ce-59092d33" class="form_checkbox-icon">{{ form.set_as_default_checkbox }}</div>
                              <div>Adresse par défaut</div>
                            </div><input type="submit" data-wait="Please wait..." id="w-node-_1d3da037-2526-6202-95ee-691120d777d1-59092d33" class="button w-button" value="Créer">
                            <a aria-controls="modal-100" x-on:click="modal = 99" id="w-node-_1d3da037-2526-6202-95ee-691120d777d2-59092d33" href="#" class="text-size-regular text-style-link">Cancel</a>
                          </div>
                        {% endform %}
                        <div class="w-form-done">
                          <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                          <div>Oops! Something went wrong while submitting the form.</div>
                        </div>
                      </div>
                    </div>
                  </div><img loading="lazy" src="{{ 'plus.svg' | asset_url }}" alt="" class="addresses_plus"><button x-on:click="modal = 100" id="openModalButton-100" aria-label="Create new address" aria-controls="modal-100" aria-haspopup="dialog" class="addresses_opener"></button>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Account-Addresses",
    "class": "section_account",
    "presets": [
        {
            "name": "Account-Addresses",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}