<div class="padding-global">
                <div class="padding-section-medium">
                  <div class="container-large">
                    <div class="contenu_component-wrapper">
                      <div class="contenu_heading">
                        <h2 class="text-align-center">Notre petit truc en plus</h2>
                      </div>
                      <div class="contenu_content">
                        <div class="contenu_cards-wrapper">
                          <div class="contenu_card is-first">
                            <h3>
{{ section.settings.text_animation_titre_1 }}
</h3>
                            <div> {{ section.settings.richtext_animation_texte_1 }} </div>
                          </div>
                          <div class="contenu_card is-second">
                            <h3>
{{ section.settings.text_animation_titre_2 }}
</h3>
                            <div> {{ section.settings.richtext_animation_texte_2 }} </div>
                          </div>
                          <div class="contenu_card is-third">
                            <h3>
{{ section.settings.text_animation_titre_3 }}
</h3>
                            <div> {{ section.settings.richtext_animation_texte_3 }} </div>
                          </div>
                        </div>
                        <div class="contenu_lottie-wrapper">
                          <div data-w-id="6c45c0d7-be4d-e9cc-32ec-918800d7e118" data-is-ix2-target="1" class="contenu_lottie" data-animation-type="lottie" data-src="{{ 'lottie-fiche-cafe.json' | asset_url }}" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="3"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> {% schema %} {
    "tag": "section",
    "name": "Animation-Produit",
    "class": "section_contenu",
    "settings": [
        {
            "id": "text_animation_titre_1",
            "type": "text",
            "label": "Animation titre 1",
            "default": "De la ferme \u00e0 votre tasse, chaque \u00e9tape compte"
        },
        {
            "id": "richtext_animation_texte_1",
            "type": "richtext",
            "label": "Animation texte 1",
            "default": "<p>Chez nous, on source une grande partie de nos caf\u00e9s en direct chez les producteurs, pour garantir une tra\u00e7abilit\u00e9 totale ! \u2028Pourquoi ? Pour assurer une juste r\u00e9mun\u00e9ration, comprendre le travail de chaque ferme et s\u00e9lectionner des caf\u00e9s d\u2019exception.\u2028En allant sur le terrain, on cr\u00e9e du lien, on \u00e9change, on apprend.\u2028Chaque caf\u00e9 que vous buvez raconte une histoire vraie \u2014 celle d\u2019un terroir, d\u2019un savoir-faire, d\u2019un engagement.\u2028Et \u00e7a change tout dans <\/p>"
        },
        {
            "id": "text_animation_titre_2",
            "type": "text",
            "label": "Animation titre 2",
            "default": "De la ferme \u00e0 votre tasse, chaque \u00e9tape compte"
        },
        {
            "id": "richtext_animation_texte_2",
            "type": "richtext",
            "label": "Animation texte 2",
            "default": "<p>Chez nous, on source une grande partie de nos caf\u00e9s en direct chez les producteurs, pour garantir une tra\u00e7abilit\u00e9 totale ! \u2028Pourquoi ? Pour assurer une juste r\u00e9mun\u00e9ration, comprendre le travail de chaque ferme et s\u00e9lectionner des caf\u00e9s d\u2019exception.\u2028En allant sur le terrain, on cr\u00e9e du lien, on \u00e9change, on apprend.\u2028Chaque caf\u00e9 que vous buvez raconte une histoire vraie \u2014 celle d\u2019un terroir, d\u2019un savoir-faire, d\u2019un engagement.\u2028Et \u00e7a change tout dans <\/p>"
        },
        {
            "id": "text_animation_titre_3",
            "type": "text",
            "label": "Animation titre 3",
            "default": "De la ferme \u00e0 votre tasse, chaque \u00e9tape compte"
        },
        {
            "id": "richtext_animation_texte_3",
            "type": "richtext",
            "label": "Animation texte 3",
            "default": "<p>Chez nous, on source une grande partie de nos caf\u00e9s en direct chez les producteurs, pour garantir une tra\u00e7abilit\u00e9 totale ! \u2028Pourquoi ? Pour assurer une juste r\u00e9mun\u00e9ration, comprendre le travail de chaque ferme et s\u00e9lectionner des caf\u00e9s d\u2019exception.\u2028En allant sur le terrain, on cr\u00e9e du lien, on \u00e9change, on apprend.\u2028Chaque caf\u00e9 que vous buvez raconte une histoire vraie \u2014 celle d\u2019un terroir, d\u2019un savoir-faire, d\u2019un engagement.\u2028Et \u00e7a change tout dans <\/p>"
        }
    ],
    "presets": [
        {
            "name": "Animation-Produit",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}