<div class="padding-global padding-section-medium">
          <div class="container-large">
            <div class="swiper_component is-card-swiper">
              <div class="swiper is-card-swiper">
                <div role="list" class="swiper-wrapper is-card-swiper">
                  {% for block in section.blocks %}
    {% if block.type == "card" %}
                    <div li-block="Card" class="swiper-slide is-card-swiper">
                                    
                    
                                    <div class="card-swiper-wrapper">{% if block.settings.image_card_image %}
{{ block.settings.image_card_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card-swiper-image' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'machine_1.avif' | asset_url }}" class="card-swiper-image">
{% endif %}</div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                  {% for block in section.blocks %}
    {% if block.type == "card" %}
                    <div li-block="Card" class="swiper-slide is-card-swiper">
                                    
                    
                                    <div class="card-swiper-wrapper">{% if block.settings.image_card_image %}
{{ block.settings.image_card_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card-swiper-image' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'machine_1.avif' | asset_url }}" class="card-swiper-image">
{% endif %}</div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                  {% for block in section.blocks %}
    {% if block.type == "card" %}
                    <div li-block="Card" class="swiper-slide is-card-swiper">
                                    
                    
                                    <div class="card-swiper-wrapper">{% if block.settings.image_card_image %}
{{ block.settings.image_card_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card-swiper-image' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'machine_1.avif' | asset_url }}" class="card-swiper-image">
{% endif %}</div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                  {% for block in section.blocks %}
    {% if block.type == "card" %}
                    <div li-block="Card" class="swiper-slide is-card-swiper">
                                    
                    
                                    <div class="card-swiper-wrapper">{% if block.settings.image_card_image %}
{{ block.settings.image_card_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card-swiper-image' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'machine_1.avif' | asset_url }}" class="card-swiper-image">
{% endif %}</div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                  {% for block in section.blocks %}
    {% if block.type == "card" %}
                    <div li-block="Card" class="swiper-slide is-card-swiper">
                                    
                    
                                    <div class="card-swiper-wrapper">{% if block.settings.image_card_image %}
{{ block.settings.image_card_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card-swiper-image' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'machine_1.avif' | asset_url }}" class="card-swiper-image">
{% endif %}</div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                  {% for block in section.blocks %}
    {% if block.type == "card" %}
                    <div li-block="Card" class="swiper-slide is-card-swiper">
                                    
                    
                                    <div class="card-swiper-wrapper">{% if block.settings.image_card_image %}
{{ block.settings.image_card_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'card-swiper-image' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'machine_1.avif' | asset_url }}" class="card-swiper-image">
{% endif %}</div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                </div>
              </div>
              <div class="swiper_overlay-navigation is-card-swiper"><button aria-label="Previous slide" type="button" class="swiper_button swiper-prev">
                  <div class="swiper_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323" style="transform: rotate(180deg)">
                      <g id="Group_44" data-name="Group 44" transform="translate(0 1.014)">
                        <path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="#241f18" stroke-miterlimit="10" stroke-width="3"></path>
                        <line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="#241f18" stroke-miterlimit="10" stroke-width="3"></line>
                      </g>
                    </svg></div>
                </button><button aria-label="Next slide" type="button" class="swiper_button swiper-next">
                  <div class="swiper_button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 29.541 22.323">
                      <g id="Group_44" data-name="Group 44" transform="translate(0 1.014)">
                        <path id="Path_1" data-name="Path 1" d="M115.445,20.633l9.311-10.148L115.445.338" transform="translate(-97.25 -0.338)" fill="none" stroke="#241f18" stroke-miterlimit="10" stroke-width="3"></path>
                        <line id="Line_1" data-name="Line 1" x1="27.506" transform="translate(0 10.148)" fill="none" stroke="#241f18" stroke-miterlimit="10" stroke-width="3"></line>
                      </g>
                    </svg></div>
                </button></div>
            </div>
          </div>
        </div>
        <div class="hide w-embed w-script">
          <script>
document.addEventListener('DOMContentLoaded', () => {
  $(".swiper_component.is-card-swiper").each(function(index) {
    const swiper = new Swiper($(this).find(".swiper")[0], {
      autoHeight: false,
      followFinger: true,
      freeMode: false,
      slideToClickedSlide: false,
      slidesPerView: "auto",
      spaceBetween: 4,
      rewind: false,
      breakpoints: {
        480: {
          slidesPerView: 2,
          spaceBetween: 12
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 12
        },
        992: {
          slidesPerView: 4,
          spaceBetween: 12
        }
      },
      mousewheel: {
        forceToAxis: true
      },
      keyboard: {
        enabled: true,
        onlyInViewport: true
      },
      pagination: {
        el: $(this).find(".swiper_pagination")[0],
        bulletActiveClass: "is-active",
        bulletClass: "swiper_bullet",
        bulletElement: "button",
        clickable: true,
      },
      navigation: {
        nextEl: $(this).find(".swiper_button.swiper-next")[0],
        prevEl: $(this).find(".swiper_button.swiper-prev")[0],
        disabledClass: "swiper-button-disabled",
      },
      slideActiveClass: "is-active",
      slideDuplicateActiveClass: "is-active",
      a11y: {
        slideRole: 'listitem'
      }
    });
  });
});
</script>
        </div> {% schema %} {
    "tag": "section",
    "name": "Card Swiper",
    "class": "section_card-swiper",
    "blocks": [
        {
            "name": "Card",
            "type": "card",
            "settings": [
                {
                    "id": "image_card_image",
                    "type": "image_picker",
                    "label": "Card Image"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Card Swiper",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "card"
                }
            ]
        }
    ]
} {% endschema %}