<div class="padding-global padding-section-medium" style="color: {{ section.settings.text_color }}">
          <div class="container-large">
            <div class="faq_wrapper">
              <div class="faq_heading">
                <h1>
{{ section.settings.text_heading }}
</h1>
                <div class="text-rich-text max-width-medium w-richtext"> {{ section.settings.richtext_richtext }} </div>
              </div>
              <ul x-data="{open: 1}" role="list" class="faq_faq-list">
                {% for block in section.blocks %}
    {% if block.type == "faq-item" %}
                    <li li-block="FAQ Item" role="button" tabindex="0" aria-controls="faq-body-{{forloop.index}}" x-on:click="open = (open === {{forloop.index}} ? 0 : {{forloop.index}}); $el.setAttribute('aria-expanded', open === {{forloop.index}} ? 'true' : 'false')" id="w-node-_989cb4ff-dfde-a4ed-b021-cb135dd3dd80-4b6c159b" class="faq-faq_item">
                                    
                  
                                    <div class="faq_item-heading">
                    <h3 id="faq-heading-{{forloop.index}}" class="text-size-medium">
{{ block.settings.text_question }}
</h3>
                    <div x-bind:style="open === {{ forloop.index }} ? 'transform: rotate(180deg)' : 'transform: rotate(0deg)'" class="faq_icon w-embed"><svg width="24" height="25" viewbox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_7620_8288" style="mask-type:alpha" maskunits="userSpaceOnUse" x="0" y="0" width="24" height="25">
                          <rect y="0.859375" width="24" height="24" fill="#D9D9D9"></rect>
                        </mask>
                        <g mask="url(#mask0_7620_8288)">
                          <path d="M11 13.7188H5V11.7188H11V5.71875H13V11.7188H19V13.7188H13V19.7188H11V13.7188Z" fill="currentColor"></path>
                        </g>
                      </svg></div>
                  </div>
                                    
                  
                                    <div id="faq-body-{{forloop.index}}" x-show="open === {{ forloop.index }}" x-collapse="" x-cloak="" aria-labelledby="faq-heading-{{forloop.index}}" class="faq_item-body">
                    <div class="text-rich-text margin-top margin-small w-richtext"> {{ block.settings.richtext_reponse }} </div>
                  </div>
                                    
                
                            </li>
            {% endif %}
{% endfor %}
              </ul>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "FAQ-Page",
    "class": "section_faq",
    "blocks": [
        {
            "name": "FAQ Item",
            "type": "faq-item",
            "settings": [
                {
                    "id": "text_question",
                    "type": "text",
                    "label": "Question",
                    "default": "Heading"
                },
                {
                    "id": "richtext_reponse",
                    "type": "richtext",
                    "label": "R\u00e9ponse",
                    "default": "<p>\n                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.\n                    <\/p>"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Foire aux questions"
        },
        {
            "id": "richtext_richtext",
            "type": "richtext",
            "label": "Richtext",
            "default": "<p>\n                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.\n                <\/p>"
        }
    ],
    "presets": [
        {
            "name": "FAQ-Page",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "faq-item"
                }
            ]
        }
    ]
} {% endschema %}