<div class="padding-global is-white">
        <div class="padding-section-medium">
          <div class="container-large">
            <div class="socials_component">
              <div class="socials_heading">
                <h2 class="heading-style-h3 text-color-white">
{{ section.settings.text_heading }}
</h2>
              </div>
              <div class="socials_list">
                <a href="{{ section.settings.url_linkedin }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"> <XML></XML><svg height="72" viewbox="0 0 72 72" width="72" xmlns="http://www.w3.org/2000/svg"> <g fill="none" fill-rule="evenodd"> <path d="M8,72 L64,72 C68.418278,72 72,68.418278 72,64 L72,8 C72,3.581722 68.418278,-8.11624501e-16 64,0 L8,0 C3.581722,8.11624501e-16 -5.41083001e-16,3.581722 0,8 L0,64 C5.41083001e-16,68.418278 3.581722,72 8,72 Z" fill="#007EBB"></path> <path d="M62,62 L51.315625,62 L51.315625,43.8021149 C51.315625,38.8127542 49.4197917,36.0245323 45.4707031,36.0245323 C41.1746094,36.0245323 38.9300781,38.9261103 38.9300781,43.8021149 L38.9300781,62 L28.6333333,62 L28.6333333,27.3333333 L38.9300781,27.3333333 L38.9300781,32.0029283 C38.9300781,32.0029283 42.0260417,26.2742151 49.3825521,26.2742151 C56.7356771,26.2742151 62,30.7644705 62,40.051212 L62,62 Z M16.349349,22.7940133 C12.8420573,22.7940133 10,19.9296567 10,16.3970067 C10,12.8643566 12.8420573,10 16.349349,10 C19.8566406,10 22.6970052,12.8643566 22.6970052,16.3970067 C22.6970052,19.9296567 19.8566406,22.7940133 16.349349,22.7940133 Z M11.0325521,62 L21.769401,62 L21.769401,27.3333333 L11.0325521,27.3333333 L11.0325521,62 Z" fill="#FFF"></path> </g> </svg> </div> <div>Le Panier à Café</div> </a>
                <a href="{{ section.settings.url_instagram }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"><svg width="145" height="145" viewbox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M72.1135 35.9849C70.8472 35.9849 69.5947 36.0495 68.3607 36.1759C67.1267 36.3023 65.9097 36.4896 64.7135 36.7354C63.5173 36.9813 62.3423 37.2858 61.1909 37.6452L57.8112 38.8861L54.5935 40.4398L51.5571 42.2874L48.72 44.4095L46.102 46.7876L43.7216 49.4033L41.5972 52.2372L39.7473 55.2708L38.1927 58.4848C37.7254 59.5841 37.3097 60.7112 36.9499 61.8617C36.5901 63.0122 36.2856 64.1867 36.0392 65.3816C35.7929 66.5764 35.6056 67.7919 35.4787 69.0251C35.3519 70.2582 35.2882 71.5093 35.2882 72.7742C35.2882 74.0391 35.3528 75.2902 35.4787 76.5233C35.604 77.7467 35.791 78.9629 36.0392 80.1673C36.2856 81.3667 36.5901 82.5366 36.9499 83.6872C37.3097 84.8377 37.7249 85.9643 38.1927 87.064L39.7473 90.2781L41.5972 93.3112L43.7216 96.1456L46.102 98.7613L48.72 101.14L51.5571 103.262L54.5935 105.109L57.8112 106.663L61.1909 107.904L64.7135 108.814C65.919 109.062 67.1363 109.249 68.3607 109.374C69.6076 109.501 70.8602 109.565 72.1135 109.564C73.3798 109.564 74.6323 109.5 75.8659 109.374C77.0903 109.249 78.3076 109.062 79.5131 108.814L83.0362 107.904L86.4158 106.663L89.6331 105.109L92.6699 103.262L95.507 101.14L98.1255 98.7613L100.506 96.1456L102.63 93.3112L104.48 90.2781L106.035 87.064L107.277 83.6872C107.637 82.5366 107.942 81.3621 108.188 80.1673L108.748 76.5229C108.875 75.2898 108.939 74.0387 108.939 72.7737C108.939 71.5088 108.875 70.2577 108.748 69.0246C108.623 67.8014 108.436 66.5854 108.188 65.3811C107.942 64.1817 107.637 63.0122 107.277 61.8612L106.035 58.4844L104.48 55.2703L102.63 52.2367L100.506 49.4028L98.1255 46.7871L95.507 44.409L92.6699 42.287L89.6331 40.4394L86.4158 38.8857L83.0362 37.6447L79.5131 36.735L75.8659 36.1754C74.6192 36.0481 73.3667 35.9848 72.1135 35.9849ZM72.1135 48.6832C72.9508 48.6832 73.777 48.7247 74.5908 48.8068L76.9897 49.1699L79.3069 49.7603L81.5258 50.5663L83.6354 51.5766L85.6191 52.7783L87.4736 54.1609L89.1833 55.7118L90.7356 57.4196L92.1196 59.2723L93.3227 61.2587L94.333 63.367C94.6365 64.0885 94.9059 64.828 95.1403 65.5841C95.3746 66.3402 95.5716 67.1129 95.7308 67.8999C95.8899 68.6869 96.0076 69.4878 96.0938 70.3011L96.2175 72.7765C96.2175 73.6129 96.176 74.4386 96.0938 75.2524C96.0117 76.0662 95.8909 76.867 95.7308 77.6536C95.5707 78.4401 95.3733 79.2128 95.1403 79.9694L94.333 82.1865L93.3227 84.2947L92.1196 86.2807L90.7356 88.1338L89.1833 89.8416L87.4736 91.3926L85.6191 92.7752L83.6354 93.9769L81.5258 94.9872L79.3069 95.7931L76.9897 96.3836L74.5908 96.7462C73.7675 96.8287 72.9405 96.87 72.1131 96.8699C71.2854 96.87 70.4583 96.8287 69.6349 96.7462L67.236 96.3836C66.4485 96.224 65.6753 96.0266 64.9183 95.7931L62.6994 94.9872L60.5898 93.9769L58.6061 92.7752L56.7516 91.3926L55.0419 89.8416L53.4896 88.1338L52.1056 86.2807L50.9025 84.2947L49.8922 82.1865L49.0849 79.9694L48.4944 77.6536L48.1314 75.2524C48.0488 74.4297 48.0075 73.6034 48.0077 72.7765C48.0075 71.9498 48.0488 71.1236 48.1314 70.3011C48.213 69.4878 48.3343 68.6864 48.4944 67.8999C48.6529 67.1188 48.8501 66.346 49.0854 65.5845L49.8927 63.3674L50.903 61.2592L52.1061 59.2728L53.49 57.4201L55.0424 55.7123L56.752 54.1613L58.6065 52.7788L60.5902 51.577L62.6998 50.5667C63.4259 50.2618 64.1667 49.9928 64.9192 49.7608L67.2369 49.1703C68.0244 49.0107 68.8262 48.8889 69.6358 48.8073C70.4593 48.7248 71.2859 48.6831 72.1135 48.6832Z" fill="url(#paint0_radial_40000448_16359)"></path> <path d="M110.432 25.5195C110.14 25.5195 109.848 25.5343 109.557 25.5638C109.266 25.5932 108.977 25.6372 108.69 25.6957C108.404 25.7542 108.12 25.827 107.841 25.9139C107.561 26.0009 107.287 26.1019 107.017 26.2165C106.748 26.3313 106.485 26.4596 106.228 26.6008C105.971 26.7418 105.722 26.8956 105.481 27.0617C105.239 27.2279 105.006 27.4062 104.783 27.5959C104.559 27.7854 104.345 27.986 104.141 28.197C103.938 28.4081 103.745 28.6294 103.563 28.8599C103.381 29.0905 103.211 29.33 103.053 29.5777C102.895 29.8252 102.75 30.0805 102.617 30.3426C102.485 30.6049 102.365 30.8737 102.259 31.1481C102.153 31.4223 102.061 31.7018 101.982 31.9853C101.904 32.2689 101.84 32.5562 101.791 32.8462C101.741 33.1361 101.706 33.4283 101.685 33.7218C101.67 33.9296 101.663 34.138 101.663 34.3464C101.663 34.6408 101.677 34.935 101.707 35.228C101.736 35.5208 101.78 35.8119 101.838 36.1003C101.896 36.3887 101.968 36.674 102.054 36.9551C102.141 37.2363 102.241 37.513 102.355 37.7841C102.469 38.0553 102.596 38.3206 102.737 38.579C102.877 38.8373 103.03 39.0884 103.195 39.3314C103.36 39.5742 103.537 39.8085 103.725 40.0335C103.914 40.2587 104.113 40.4743 104.323 40.6794C104.533 40.8844 104.752 41.0787 104.982 41.2616C105.211 41.4446 105.449 41.6159 105.695 41.775C105.941 41.9341 106.195 42.0807 106.455 42.2142C106.716 42.3478 106.983 42.4682 107.255 42.5749C107.528 42.6816 107.805 42.7744 108.087 42.8531C108.369 42.9317 108.654 42.9961 108.942 43.0459C109.23 43.096 109.521 43.1316 109.812 43.1525C110.019 43.1673 110.226 43.1746 110.433 43.1747C110.725 43.1747 111.018 43.1601 111.309 43.1308C111.599 43.1014 111.889 43.0574 112.175 42.9989C112.462 42.9405 112.745 42.8676 113.025 42.7807C113.304 42.6937 113.579 42.5927 113.848 42.4781C114.117 42.3634 114.381 42.2353 114.637 42.0942C114.894 41.9531 115.143 41.7991 115.385 41.6329C115.626 41.4668 115.859 41.2887 116.083 41.0992C116.306 40.9095 116.52 40.7088 116.724 40.4976C116.928 40.2865 117.121 40.0652 117.302 39.8347C117.484 39.6041 117.654 39.3646 117.812 39.1169C117.97 38.8693 118.116 38.6138 118.248 38.3516C118.381 38.0892 118.501 37.8204 118.607 37.5461C118.713 37.2718 118.805 36.9924 118.883 36.7088C118.961 36.4253 119.025 36.138 119.075 35.848C119.125 35.5581 119.16 35.2658 119.18 34.9724C119.195 34.7645 119.203 34.5562 119.203 34.3478C119.203 34.0535 119.188 33.7594 119.159 33.4666C119.13 33.1738 119.086 32.8827 119.028 32.5943C118.97 32.3059 118.897 32.0206 118.811 31.7395C118.724 31.4583 118.624 31.1816 118.51 30.9105C118.396 30.6393 118.269 30.374 118.129 30.1156C117.989 29.8573 117.836 29.6062 117.671 29.3632C117.505 29.1202 117.328 28.8858 117.14 28.6606C116.951 28.4355 116.752 28.2199 116.543 28.0148C116.333 27.8098 116.113 27.6155 115.884 27.4326C115.655 27.2497 115.417 27.0785 115.171 26.9196C114.925 26.7605 114.671 26.6139 114.41 26.4804C114.149 26.3468 113.882 26.2264 113.61 26.1197C113.338 26.013 113.06 25.9202 112.778 25.8415C112.497 25.7627 112.211 25.6982 111.923 25.6482C111.635 25.5983 111.345 25.5628 111.053 25.5421C110.846 25.5273 110.639 25.5195 110.432 25.5195Z" fill="url(#paint1_radial_40000448_16359)"></path> <path d="M65.1304 0.802123C61.1252 0.795664 57.5509 0.81227 54.3401 0.857479L45.7319 1.08814C43.1817 1.19885 40.9286 1.34324 38.9062 1.53007C37.895 1.62326 36.941 1.72752 36.0368 1.84239C35.1763 1.95084 34.3183 2.07712 33.4631 2.22114C32.6488 2.35954 31.8761 2.509 31.1352 2.67138C30.3944 2.83377 29.6867 3.00907 29.0039 3.19729C28.3365 3.38134 27.6742 3.58379 27.018 3.80439C26.3749 4.02121 25.7475 4.25095 25.1279 4.49637C23.8888 4.98722 22.6802 5.53802 21.4355 6.15527C20.4778 6.63043 19.593 7.11158 18.7525 7.62088C17.912 8.13018 17.1157 8.66808 16.3361 9.25396C15.5332 9.86025 14.7593 10.504 14.0171 11.1832C13.2411 11.8899 12.4486 12.6672 11.6251 13.5359C10.5904 14.6214 9.69125 15.6335 8.89316 16.6267C8.49412 17.1231 8.12045 17.614 7.76847 18.1076C7.42037 18.594 7.0876 19.0913 6.77063 19.5985C6.45694 20.1014 6.15985 20.6135 5.87567 21.1403C5.58707 21.6762 5.31431 22.2205 5.05775 22.7724C4.53277 23.8999 4.04285 25.1141 3.55385 26.4695C3.19108 27.4714 2.86623 28.4868 2.58 29.5132C2.28799 30.5623 2.02827 31.6598 1.79668 32.8467C1.5651 34.0337 1.36304 35.3102 1.18543 36.7218C0.994045 38.2692 0.841148 39.8211 0.726885 41.3761C0.597716 43.0857 0.49069 44.967 0.403039 47.0609L0.195446 54.0232L0.0838059 62.5101L0.0515137 72.7684L0.146084 87.6861L0.441329 98.9884L0.668759 103.403L0.952933 107.062C1.04403 108.048 1.158 109.031 1.29477 110.012C1.41932 110.883 1.55311 111.645 1.69704 112.305C1.98909 113.646 2.33443 114.975 2.73224 116.289C3.11314 117.547 3.54873 118.787 4.03777 120.007C4.51847 121.202 5.04437 122.354 5.61641 123.463C6.18845 124.572 6.80661 125.638 7.47092 126.662C8.13522 127.685 8.84565 128.667 9.60406 129.607C10.3616 130.547 11.1674 131.446 12.0182 132.303C12.8702 133.161 13.7689 133.977 14.716 134.753C15.6742 135.538 16.6704 136.276 17.7007 136.963C18.657 137.602 19.6032 138.188 20.5563 138.725C21.5093 139.263 22.4707 139.75 23.4589 140.194C24.447 140.637 25.4601 141.036 26.5184 141.395C27.5766 141.754 28.6792 142.073 29.8445 142.356C31.0098 142.64 32.2433 142.888 33.5489 143.105C34.8544 143.322 36.2499 143.508 37.7409 143.668C39.2319 143.828 40.8225 143.96 42.5317 144.071C44.2409 144.182 46.0677 144.27 48.0306 144.341C51.0629 144.451 55.653 144.515 60.9462 144.54L78.0819 144.505L94.3084 144.278L100.478 144.104L104.497 143.898C105.36 143.827 106.204 143.744 107.019 143.647C107.834 143.55 108.637 143.439 109.42 143.312C110.202 143.186 110.967 143.045 111.718 142.888C112.461 142.733 113.2 142.56 113.934 142.37C114.661 142.185 115.378 141.975 116.088 141.752C116.797 141.53 117.5 141.289 118.198 141.03C118.9 140.77 119.595 140.493 120.284 140.2C120.977 139.904 121.669 139.589 122.364 139.254C123.431 138.74 124.29 138.311 125.044 137.893C125.754 137.504 126.437 137.069 127.09 136.59C127.734 136.116 128.374 135.576 129.112 134.896C129.85 134.216 130.687 133.397 131.722 132.361C132.633 131.451 133.4 130.66 134.062 129.941C134.724 129.222 135.282 128.575 135.771 127.951C136.237 127.359 136.671 126.743 137.072 126.105C137.463 125.482 137.823 124.835 138.189 124.118C138.741 123.039 139.232 122.039 139.671 121.074C140.098 120.145 140.488 119.198 140.84 118.238C141.187 117.285 141.488 116.316 141.741 115.334C142.001 114.324 142.225 113.257 142.419 112.087C142.612 110.917 142.776 109.644 142.918 108.222C143.06 106.801 143.181 105.229 143.287 103.464L143.569 97.5371L143.81 90.1666L143.983 81.9551L144.049 73.3691L143.895 56.5055L143.689 48.9523L143.408 42.4671L143.057 37.411C142.93 36.004 142.792 34.8959 142.647 34.1467C142.485 33.3189 142.305 32.495 142.106 31.6754C141.912 30.878 141.699 30.0854 141.467 29.2983C141.241 28.5314 140.995 27.7704 140.73 27.0161C140.468 26.2711 140.19 25.5417 139.899 24.8281C139.609 24.1144 139.294 23.4174 138.967 22.7351C138.639 22.0528 138.296 21.3871 137.936 20.7366C137.575 20.0862 137.2 19.4519 136.807 18.8332C136.415 18.2146 136.006 17.6116 135.58 17.0248C135.157 16.4399 134.715 15.8684 134.256 15.311C133.799 14.7568 133.325 14.2171 132.834 13.6927C132.344 13.1691 131.837 12.6611 131.315 12.1695C130.792 11.6777 130.254 11.2016 129.699 10.7412C129.141 10.2793 128.57 9.83487 127.984 9.4085C127.393 8.97777 126.789 8.56517 126.172 8.17125C125.547 7.77172 124.911 7.39081 124.263 7.02901C123.605 6.66116 122.935 6.31225 122.257 5.98274C121.13 5.43515 120.088 4.94939 119.066 4.51852C118.06 4.0909 117.035 3.71111 115.994 3.38044C114.947 3.05059 113.857 2.76781 112.658 2.52377C111.458 2.27973 110.15 2.07629 108.67 1.90329C107.19 1.7303 105.537 1.59052 103.646 1.47427C101.756 1.35801 99.6297 1.26666 97.2018 1.19285L88.9506 1.00833L78.5077 0.885157L65.135 0.803038L65.1304 0.802123ZM72.0755 13.4893L91.3601 13.5991L98.6351 13.7393C100.638 13.7956 102.167 13.8616 103.063 13.9377C104.231 14.036 105.342 14.1591 106.406 14.3068C107.426 14.4477 108.442 14.6229 109.45 14.8322C110.419 15.0352 111.343 15.2658 112.228 15.526C113.112 15.7862 113.957 16.0778 114.767 16.4002C115.578 16.7227 116.353 17.0774 117.099 17.4659C117.839 17.8514 118.558 18.2756 119.253 18.7368C119.945 19.1958 120.612 19.6904 121.26 20.2232C121.907 20.756 122.535 21.3271 123.148 21.9379C123.796 22.5824 124.393 23.2388 124.943 23.916C125.491 24.5891 125.999 25.2945 126.462 26.0284C126.931 26.7728 127.353 27.5455 127.727 28.3419C128.109 29.1539 128.452 30.0119 128.76 30.9239C129.069 31.836 129.343 32.8052 129.586 33.8409C129.841 34.9389 130.054 36.0461 130.226 37.1601C130.41 38.3411 130.568 39.6005 130.702 40.9489C130.835 42.2973 130.946 43.7353 131.037 45.2738C131.11 46.5078 131.174 48.1363 131.228 50.0595L131.363 56.6172L131.466 72.6803L131.349 88.7282L131.208 95.267L131.013 100.023C130.879 102.25 130.737 104.122 130.567 105.751C130.482 106.566 130.389 107.32 130.287 108.027C130.191 108.695 130.077 109.36 129.946 110.022C129.826 110.626 129.687 111.226 129.528 111.822C129.377 112.389 129.206 112.952 129.017 113.509C128.826 114.068 128.619 114.621 128.395 115.167C128.158 115.745 127.908 116.316 127.645 116.882C127.411 117.387 127.165 117.879 126.905 118.357C126.648 118.831 126.374 119.295 126.086 119.75C125.8 120.201 125.5 120.639 125.186 121.063C124.874 121.485 124.547 121.896 124.205 122.295C123.865 122.693 123.51 123.077 123.141 123.449C122.772 123.82 122.389 124.178 121.992 124.524C121.596 124.87 121.184 125.203 120.758 125.523C120.333 125.843 119.892 126.15 119.437 126.444C118.981 126.739 118.512 127.021 118.027 127.291C117.542 127.56 117.042 127.817 116.528 128.062C116.004 128.311 115.474 128.544 114.936 128.761C114.381 128.985 113.82 129.193 113.253 129.386C112.099 129.779 110.883 130.124 109.602 130.421C108.268 130.73 106.921 130.982 105.565 131.177C105.043 131.253 103.845 131.325 102.129 131.391L95.5899 131.573L77.0495 131.814L57.6436 131.844L50.0226 131.763L45.074 131.609L41.425 131.352C40.292 131.257 39.2383 131.151 38.2511 131.03C37.2639 130.91 36.3445 130.776 35.4795 130.624C34.6598 130.483 33.8451 130.313 33.0368 130.117C32.2998 129.938 31.5703 129.729 30.8502 129.491C30.1559 129.26 29.492 129.006 28.8462 128.727C28.2003 128.448 27.5729 128.142 26.9515 127.808C26.3301 127.474 25.7152 127.112 25.0933 126.716C24.6242 126.418 24.1707 126.116 23.7343 125.797C23.2979 125.477 22.8762 125.158 22.4703 124.824C22.0643 124.49 21.6745 124.146 21.2985 123.792C20.925 123.439 20.5644 123.073 20.2172 122.695C19.8712 122.317 19.5404 121.929 19.223 121.527C18.9044 121.123 18.6008 120.707 18.3129 120.281C18.0206 119.848 17.7441 119.405 17.4839 118.953C17.2209 118.496 16.9709 118.024 16.7333 117.536C16.4917 117.04 16.2663 116.536 16.0575 116.025C15.8453 115.504 15.6441 114.967 15.455 114.413C15.0767 113.303 14.7446 112.122 14.4558 110.863C14.167 109.604 13.9206 108.266 13.7121 106.84C13.5036 105.415 13.3357 103.903 13.2019 102.297C13.1032 101.114 13.0248 99.2708 12.9648 96.9457L12.8393 88.6766L12.8854 67.5966L13.2485 47.4535L13.5253 40.3566L13.6821 38.0107C13.7366 37.3843 13.7929 36.9202 13.8505 36.6415C14.0406 35.7249 14.232 34.8719 14.4299 34.0734C14.6148 33.32 14.8205 32.572 15.0467 31.83C15.2617 31.1297 15.4882 30.4737 15.7304 29.8523C15.9639 29.2503 16.2242 28.6591 16.5105 28.0804C16.79 27.5176 17.0904 26.9787 17.4165 26.4542C17.7427 25.9297 18.0947 25.4209 18.4785 24.9148C18.8623 24.4087 19.2756 23.9091 19.7254 23.4026C20.1752 22.8961 20.661 22.3845 21.1878 21.8572C21.8018 21.2397 22.4411 20.6479 23.1041 20.0834C23.7302 19.5508 24.383 19.0505 25.0601 18.5846C25.7258 18.1232 26.4086 17.7127 27.1195 17.3353C27.8304 16.958 28.5694 16.617 29.3467 16.3103C30.124 16.0035 30.9406 15.729 31.8055 15.4799C32.7143 15.225 33.6331 15.0075 34.5596 14.828C35.5339 14.6371 36.5687 14.4705 37.6735 14.3252C38.7784 14.1799 39.9538 14.0544 41.2105 13.9455C42.087 13.8699 43.5973 13.8025 45.5861 13.7458L52.8242 13.6028L72.0788 13.4851L72.0755 13.4893Z" fill="url(#paint2_radial_40000448_16359)"></path> <defs> <radialgradient id="paint0_radial_40000448_16359" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(22.9926 155.018) rotate(-9.53101) scale(304.338 184.731)"> <stop stop-color="#FED576"></stop> <stop offset="0.263" stop-color="#F47133"></stop> <stop offset="0.609" stop-color="#BC3081"></stop> <stop offset="1" stop-color="#4C63D2"></stop> </radialgradient> <radialgradient id="paint1_radial_40000448_16359" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(22.9929 155.018) rotate(-9.53102) scale(304.338 184.731)"> <stop stop-color="#FED576"></stop> <stop offset="0.263" stop-color="#F47133"></stop> <stop offset="0.609" stop-color="#BC3081"></stop> <stop offset="1" stop-color="#4C63D2"></stop> </radialgradient> <radialgradient id="paint2_radial_40000448_16359" cx="0" cy="0" r="1" gradientunits="userSpaceOnUse" gradienttransform="translate(22.9929 155.018) rotate(-9.53101) scale(304.338 184.731)"> <stop stop-color="#FED576"></stop> <stop offset="0.263" stop-color="#F47133"></stop> <stop offset="0.609" stop-color="#BC3081"></stop> <stop offset="1" stop-color="#4C63D2"></stop> </radialgradient> </defs> </svg></div> <div>@lepanieracafe</div> </a>
                <a href="{{ section.settings.url_facebook }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"> <XML></XML> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="73 0 267 266.9" enable-background="new 73 0 267 266.9" xml:space="preserve"> <path id="Blue_1_" fill="#157DC3" d="M321.1,262.3c7.9,0,14.2-6.4,14.2-14.2V18.8c0-7.9-6.4-14.2-14.2-14.2H91.8 C84,4.6,77.6,11,77.6,18.8v229.3c0,7.9,6.4,14.2,14.2,14.2H321.1z"></path> <path id="f" fill="#FFFFFF" d="M255.4,262.3v-99.8h33.5l5-38.9h-38.5V98.8c0-11.3,3.1-18.9,19.3-18.9l20.6,0V45 c-3.6-0.5-15.8-1.5-30-1.5c-29.7,0-50,18.1-50,51.4v28.7h-33.6v38.9h33.6v99.8H255.4z"></path> </svg> </div> <div>@lepanieracafe</div> </a>
                <a href="{{ section.settings.url_youtube }}" class="social_link w-inline-block"> <div class="icon-embed-xxsmall w-embed"> <XML></XML> <svg id="Calque_1" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 243.36 243.36"> <defs> <style> .cls-1 { fill: #fcfbf9; } .cls-2 { fill: #e52520; } </style> </defs> <rect class="cls-2" width="243.36" height="243.36" rx="56.95" ry="56.95"></rect> <path class="cls-1" d="M177.26,64.36h-108.3c-20.71,0-29.12,16.78-29.12,37.49v39.65c0,20.71,9.29,37.5,30,37.5h106.54c20.7,0,27.78-16.79,27.78-37.5v-39.65c0-20.71-6.2-37.49-26.91-37.49ZM106.92,144.17v-44.97l43.08,22.49-43.08,22.48Z"></path> </svg> </div> <div>Le Panier à Café</div> </a>
              </div>
              <div class="social_image-list">{% if section.settings.image_image_1 %}
{{ section.settings.image_image_1 | image_url: width: 1000 | image_tag: loading: 'lazy', width: '237', class: 'social_image' }}
{% else %}
<img src="{{ 'social-1.avif' | asset_url }}" loading="lazy" width="237" alt="" class="social_image">
{% endif %}{% if section.settings.image_image_2 %}
{{ section.settings.image_image_2 | image_url: width: 1000 | image_tag: loading: 'lazy', width: '237', class: 'social_image' }}
{% else %}
<img src="{{ 'social-2.avif' | asset_url }}" loading="lazy" width="237" alt="" class="social_image">
{% endif %}{% if section.settings.image_image_3 %}
{{ section.settings.image_image_3 | image_url: width: 1000 | image_tag: loading: 'lazy', width: '237', class: 'social_image' }}
{% else %}
<img src="{{ 'social-3.avif' | asset_url }}" loading="lazy" width="237" alt="" class="social_image">
{% endif %}{% if section.settings.image_image_4 %}
{{ section.settings.image_image_4 | image_url: width: 1000 | image_tag: loading: 'lazy', width: '237', class: 'social_image' }}
{% else %}
<img src="{{ 'social-4.avif' | asset_url }}" loading="lazy" width="237" alt="" class="social_image">
{% endif %}{% if section.settings.image_image_5 %}
{{ section.settings.image_image_5 | image_url: width: 1000 | image_tag: loading: 'lazy', width: '237', class: 'social_image' }}
{% else %}
<img src="{{ 'social-5.avif' | asset_url }}" loading="lazy" width="237" alt="" class="social_image">
{% endif %}{% if section.settings.image_image_6_mobile %}
{{ section.settings.image_image_6_mobile | image_url: width: 1000 | image_tag: loading: 'lazy', width: '237', class: 'social_image hide-desktop' }}
{% else %}
<img src="{{ 'social-5.avif' | asset_url }}" loading="lazy" width="237" alt="" class="social_image hide-desktop">
{% endif %}</div>
              <div class="social_stickers-wrapper"><img src="{{ 'sticker-pacaf.avif' | asset_url }}" loading="lazy" width="160" alt="" class="social_sticker"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-global is-white">
        <div class="padding-section-small is-newsletter">
          <div class="container-large">
            <div class="max-width-medium align-center">
              <div class="newsletter_component">
                <h2 class="heading-style-h4 align-center">
{{ section.settings.text_headline }}
</h2>
                <div class="newsletter_form-block w-form">
                  {% form 'customer', return_to: '/', class: 'newsletter_form' %}
<div class="form_field-wrapper"><input class="form_input w-input" maxlength="256" name="contact[email]" data-name="Email 2" placeholder="info@lepanieracafe.fr" type="email" id="Email-2" required=""></div>
                    <div li-object="form.errors | default_errors" class="text-size-regular">{{ form.errors | default_errors }}</div>
                    <div id="w-node-c1e5e1ea-5da9-4c61-f6f5-7cb0794ab89d-ad028921" class="hide w-embed"><input type="hidden" name="contact[accepts_marketing]" value="false"></div><label id="w-node-c1e5e1ea-5da9-4c61-f6f5-7cb0794ab89e-ad028921" class="w-checkbox form_checkbox" name="contact[accepts_marketing]"><input type="checkbox" name="Accepts-Marketing" id="Accepts-Marketing" data-name="Accepts Marketing" required="" class="w-checkbox-input form_checkbox-icon"><span class="form_checkbox-label text-size-tiny w-form-label" for="Accepts-Marketing">
{{ section.settings.text_checkbox }}
</span></label><input type="submit" data-wait="" id="w-node-c1e5e1ea-5da9-4c61-f6f5-7cb0794ab8a5-ad028921" class="button w-button" value="S'incrire à la newsletter">
                  {% endform %}
                  <div class="hide w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="hide w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="padding-global padding-section-small">
        <div class="container-large">
          <div class="icon_list-wrapper">
            {% for block in section.blocks %}
    {% if block.type == "icone" %}
                    <div li-block="icone" class="icon-wrapper">
                                    {% if block.settings.image_icone %}
{{ block.settings.image_icone | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'icon' }}
{% else %}
<img src="{{ 'panier-a-cafe-bblanc.avif' | asset_url }}" loading="lazy" alt="" class="icon">
{% endif %}
                                    
              
                                    <div class="icon-content">
                <p>
{{ block.settings.text_heading }}
</p>
              </div>
                                    
            
                            </div>
            {% endif %}
{% endfor %}
          </div>
        </div>
      </div>
      <div class="padding-global padding-section-small">
        <div class="container-large">
          <div class="footer_main-wrapper">
            <div class="footer_link-grid">
              {% for link in linklists['footer'].links %}    <div li-for="link in linklists['footer'].links" class="footer_link-column">
                                    
                
                            <div li-object="link.title" class="text-weight-semibold">{{ link.title }}</div>
                            
                
                            <div li-for:inside="child_link in link.links" class="footer_link-list">
        {% for child_link in link.links %}                            
                  
                            <a li-object:href="child_link.url" li-object="child_link.title" href="{{ child_link.url }}" class="footer_link">{{ child_link.title }}</a>
                            
                
                    {% endfor %}    </div>
                            
              
                        </div>
{% endfor %}
            </div>
            <div class="footer_soutien">
              <div>Ils nous soutiennent</div>
              <div class="footer_soutiens-list">{% if section.settings.image_soutien_1 %}
{{ section.settings.image_soutien_1 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_soutien-image' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="footer_soutien-image">
{% endif %}{% if section.settings.image_soutien_2 %}
{{ section.settings.image_soutien_2 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_soutien-image' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="footer_soutien-image">
{% endif %}{% if section.settings.image_soutien_3 %}
{{ section.settings.image_soutien_3 | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'footer_soutien-image' }}
{% else %}
<img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="footer_soutien-image">
{% endif %}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_divider"></div>
      <div class="background-color-black">
        <div class="padding-global padding-section-xsmall">
          <div class="container-large">
            <div class="footer_icon-grid">
              <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="footer_logo-link w-inline-block"><img src="{{ 'logo_panier_a_cafe-creme.png' | asset_url }}" loading="lazy" sizes="100vw" srcset="{{ 'LOGO-CRÈME-p-500.png' | asset_url }} 500w, {{ 'LOGO-CRÈME-p-800.png' | asset_url }} 800w, {{ 'logo_panier_a_cafe-creme.png' | asset_url }} 1081w" alt="" class="footer_logo"></a>
              <div id="w-node-_9f03d986-c081-15a4-3bbe-f98ead028943-ad028921" class="footer_icon-block">
                <ul role="list" class="footer_payment-list w-list-unstyled">
                  {% for type in shop.enabled_payment_types %}    <li li-for="type in shop.enabled_payment_types" class="footer_payment-item">
                                    
                    
                            <div li-object="type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color'" class="footer_payment-svg">{{ type | payment_type_svg_tag: class: 'footer_payment-img icon--full-color' }}</div>
                            
                  
                        </li>
{% endfor %}
                </ul>
              </div>
            </div>
            <div class="footer_sub-footer">
              <div class="text-color-white">
                <div class="text-size-small margin-bottom margin-xxsmall">2025 Le Panier à Café | Tous droits réservés</div>
                <div class="text-size-small">805 route des futaies, 74370 Villaz, Rhone-Alpes, France</div>
                <a href="https://www.kevin-rocha.com/" target="_blank" class="text-color-white text-size-tiny">Crédit photo : Kévin Rocha</a>
              </div>
              <div id="w-node-_1f0ebb76-8d76-53b9-37c8-eaeb925a3cab-ad028921" class="footer_legal-links">
                <div li-for:inside="link in linklists['legal'].links" class="footer_legal-links">
        {% for link in linklists['legal'].links %}                            
                  
                            <a li-object="link.title" li-object:href="link.url" href="{{ link.url }}" class="footer_legal-link">{{ link.title }}</a>
                            
                
                    {% endfor %}    </div>
                <div class="w-embed">
                  <a class="footer_legal-link" href="javascript:openAxeptioCookies()">
                    Cookies
                  </a>
                </div>
              </div>{% if localization.available_languages.size > 1 %}    <localization-form li-if="localization.available_languages.size > 1" class="li-lang_wrapper">
    
                {% form 'localization', class: 'li-lang_form' %}
<div data-delay="500" data-hover="true" class="li-lang_dropdown w-dropdown">
                    <div lang="{{ language.iso_code }}" class="li-lang_dd-toggle w-dropdown-toggle">
                      <div li-object="localization.language.endonym_name | capitalize">{{ localization.language.endonym_name | capitalize }}</div><img loading="lazy" src="https://uploads-ssl.webflow.com/613f2f905ede8d670775fc8a/61548248f37f3a0faab19498_arrow-drop.svg" alt="" class="li-lang_dd-toggle-icon">
                    </div>
                    <nav li-for:inside="language in localization.available_languages" class="li-lang_dd-list w-dropdown-list">
        {% for language in localization.available_languages %}                            
                      
                            {% unless localization.language.iso_code == language.iso_code %}    <div li-unless="localization.language.iso_code == language.iso_code" class="li-lang_dd-list-item">
    
                        <a href="#" li-object="language.endonym_name | capitalize" lang="{{ language.iso_code }}" hreflang="{{ language.iso_code }}" data-value="{{ language.iso_code }}" class="li-lang_dd-link w-dropdown-link">{{ language.endonym_name | capitalize }}</a>
                          </div>
{% endunless %}
                            
                    
                    {% endfor %}    </nav>
                  </div><input type="hidden" name="language_code" class="li-lang_hidden-input" value="{{ localization.language.iso_code }}">
                {% endform %}
                <div class="li-lang_script w-embed w-script">
                  <script>
class LocalizationForm extends HTMLElement {
  constructor() {
    super();
    this.input = this.querySelector('input[name="language_code"], input[name="country_code"]');
    this.querySelectorAll('a').forEach(item =>
      item.addEventListener('click', this.onItemClick.bind(this))
    );
  }
  onItemClick(event) {
    event.preventDefault();
    const form = this.querySelector('form');
    this.input.value = event.currentTarget.dataset.value;
    if (form) form.submit();
  }
}
customElements.define('localization-form', LocalizationForm);
</script>
                </div>
                  </localization-form>
{% endif %}
            </div>
          </div>
        </div>
      </div> {% schema %} {
    "tag": "footer",
    "name": "footer",
    "class": "section_footer",
    "blocks": [
        {
            "name": "icone",
            "type": "icone",
            "settings": [
                {
                    "id": "image_icone",
                    "type": "image_picker",
                    "label": "icone"
                },
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Livraison en 48h"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "text_heading",
            "type": "text",
            "label": "Heading",
            "default": "Suivez-nous sur nos r\u00e9seaux sociaux"
        },
        {
            "id": "url_linkedin",
            "type": "url",
            "label": "Linkedin"
        },
        {
            "id": "url_instagram",
            "type": "url",
            "label": "Instagram"
        },
        {
            "id": "url_facebook",
            "type": "url",
            "label": "Facebook"
        },
        {
            "id": "url_youtube",
            "type": "url",
            "label": "Youtube"
        },
        {
            "id": "image_image_1",
            "type": "image_picker",
            "label": "image 1"
        },
        {
            "id": "image_image_2",
            "type": "image_picker",
            "label": "Image 2"
        },
        {
            "id": "image_image_3",
            "type": "image_picker",
            "label": "Image 3"
        },
        {
            "id": "image_image_4",
            "type": "image_picker",
            "label": "Image 4"
        },
        {
            "id": "image_image_5",
            "type": "image_picker",
            "label": "Image 5"
        },
        {
            "id": "image_image_6_mobile",
            "type": "image_picker",
            "label": "Image 6 - Mobile"
        },
        {
            "id": "text_headline",
            "type": "text",
            "label": "Headline",
            "default": "S'inscrire \u00e0 la newsletter"
        },
        {
            "id": "text_checkbox",
            "type": "text",
            "label": "Checkbox",
            "default": "En vous inscrivant, vous acceptez notre <a href=\"#\" li-settings:url=\"Politique de confidentialite\">politique de confidentialit\u00e9<\/a> et consentez \u00e0 recevoir des emails."
        },
        {
            "id": "url_politique_de_confidentialite",
            "type": "url",
            "label": "Politique de confidentialite"
        },
        {
            "id": "image_soutien_1",
            "type": "image_picker",
            "label": "Soutien-1"
        },
        {
            "id": "image_soutien_2",
            "type": "image_picker",
            "label": "Soutien-2"
        },
        {
            "id": "image_soutien_3",
            "type": "image_picker",
            "label": "Soutien-3"
        }
    ],
    "presets": [
        {
            "name": "footer",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "icone"
                }
            ]
        }
    ]
} {% endschema %}