<div class="padding-global">
          <div class="padding-section-medium">
            <div class="container-large">
              <div class="hide w-embed">
                <style>
@container (width > 55em) {
	.benefits_layout:has(.benefits_card_wrap:is(:hover, :focus-within)) .benefits_card_wrap:not(:is(:hover, :focus-within)) .benefits_card_content { opacity: 1; }
	.benefits_card_wrap { min-height: 25.25rem; }
	.benefits_card_wrap:is(:hover, :focus-within) .benefits_card_mask_wrap { grid-template-rows: 1fr; }
	.benefits_card_mask_wrap { grid-template-rows: 0fr; }
	.benefits_layout { flex-direction: row; }
}
</style>
              </div>
              <div class="benefits_wrap">
                {% if section.settings.text_titre != blank %}    <div li-if="section.settings.text_titre != blank" class="margin-bottom margin-medium">
    
                  <h2 class="text-align-center">
{{ section.settings.text_titre }}
</h2>
                    </div>
{% endif %}
                <div role="list" class="benefits_layout">
                  {% for block in section.blocks %}
    {% if block.type == "carte" %}
                    <div li-block="Carte" role="listitem" class="benefits_card_wrap">
                                    {% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'benefits_card_img' }}
{% else %}
<img src="{{ 'histoire_1.avif' | asset_url }}" alt="" loading="lazy" class="benefits_card_img">
{% endif %}
                                    
                    
                                    <div class="benefits_card_content">
                      <div class="benefits_card_header">
                        <div class="benefits_card_title">
{{ block.settings.text_heading }}
</div>
                        <div class="benefits_card_mask_wrap">
                          <div id="w-node-c9af6e70-55fd-df70-f24b-40ba94e9e07c-94e9e06e" class="benefits_card_mask_clip">
                            <div class="button is-link is-icon is-alternate">
                              <div>
{{ block.settings.text_text }}
</div>
                              <div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 12 12" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img">
                                  <path d="M4.5 9L7.5 6L4.5 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                                    
                    
                                    <div class="clickable_wrap">
                      <a href="{{ block.settings.url_link }}" class="clickable_link w-inline-block"> </a>
                    </div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Pages",
    "class": "section_pages",
    "blocks": [
        {
            "name": "Carte",
            "type": "carte",
            "settings": [
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "text_heading",
                    "type": "text",
                    "label": "Heading",
                    "default": "Notre histoire"
                },
                {
                    "id": "text_text",
                    "type": "text",
                    "label": "Text",
                    "default": "D\u00e9couvrir"
                },
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                }
            ]
        }
    ],
    "settings": [
        {
            "id": "text_titre",
            "type": "text",
            "label": "Titre",
            "default": "Heading"
        }
    ],
    "presets": [
        {
            "name": "Pages",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "carte"
                }
            ]
        }
    ]
} {% endschema %}