<div class="padding-global">
          <div class="padding-section-medium">
            <div class="container-medium">
              <div class="hide w-embed">
                <style>
@container (width > 55em) {
	.pro_layout:has(.benefits_card_wrap:is(:hover, :focus-within)) .benefits_card_wrap:not(:is(:hover, :focus-within)) .benefits_card_content { opacity: 1; }
	.benefits_card_wrap { min-height: 25.25rem; }
	.benefits_card_wrap:is(:hover, :focus-within) .benefits_card_mask_wrap { grid-template-rows: 1fr; }
	.benefits_card_mask_wrap { grid-template-rows: 0fr; }
	.pro_layout { flex-direction: row; }
}
</style>
              </div>
              <div class="benefits_wrap">
                <div role="list" class="pro_layout">
                  {% for block in section.blocks %}
    {% if block.type == "bloc" %}
                    <div li-block="Bloc" role="listitem" class="benefits_card_wrap is-pro">
                                    {% if block.settings.image_image %}
{{ block.settings.image_image | image_url: width: 1000 | image_tag: loading: 'lazy', class: 'benefits_card_img' }}
{% else %}
<img loading="lazy" alt="" src="{{ 'histoire_1.avif' | asset_url }}" class="benefits_card_img">
{% endif %}
                                    
                    
                                    <div class="benefits_card_content">
                      <div class="benefits_card_header">
                        <h2 class="benefits_card_title">
{{ block.settings.text_titre }}
</h2>
                        <div class="benefits_card_mask_wrap">
                          <div id="w-node-dcf55038-6af8-b42e-6ffc-1f48524b43c7-146f5a78" class="benefits_card_mask_clip">
                            <div class="button is-link is-icon is-alternate" href="{{ block.settings.url_lien }}"> <div class="button is-link is-icon is-alternate" href="{{ block.settings.url_lien }}"> <div>Découvrir</div> <div class="icon-embed-xxsmall w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 12 12" fill="none" preserveaspectratio="xMidYMid meet" aria-hidden="true" role="img"> <path d="M4.5 9L7.5 6L4.5 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path> </svg></div> </div> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                                    
                    
                                    <div class="clickable_wrap">
                      <a href="{{ block.settings.url_link }}" class="clickable_link w-inline-block"> </a>
                    </div>
                                    
                  
                            </div>
            {% endif %}
{% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Professionnels",
    "class": "section_professionnels",
    "blocks": [
        {
            "name": "Bloc",
            "type": "bloc",
            "settings": [
                {
                    "id": "image_image",
                    "type": "image_picker",
                    "label": "Image"
                },
                {
                    "id": "text_titre",
                    "type": "text",
                    "label": "Titre",
                    "default": "Notre histoire"
                },
                {
                    "id": "url_lien",
                    "type": "url",
                    "label": "Lien"
                },
                {
                    "id": "url_link",
                    "type": "url",
                    "label": "Link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Professionnels",
            "category": "Liquify",
            "blocks": [
                {
                    "type": "bloc"
                }
            ]
        }
    ]
} {% endschema %}